<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register now and start building your dreams</title>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    <p class="center-text bigger-text down-fivepercent"> Welcome! Please register to continue.</p>
    <P class="center-text ">Already a member? <a style="text-decoration: underline;" href="/auth/login">Login</a> to continue.</P>
    <% if (locals.message) { %>
      <p class="center-text error-message"><%= message %></p>
    <% } %>
<form class="form" action="/auth/<%= isPro ? 'pro' : 'client' %>/register" method="post">
    <label for="name">Name <span style="font-size: 0.7em; color: #666;">(optional)</span></label>
    <input type="text" name="name" id="name">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" name="confirmPassword" id="confirmPassword">
    <button type="submit">Register</button>

</form>
</body>
</html> 