<header class="client-header">
  <div class="client-header-left">
    <p class="client-header-title">BuildApp</p>
  </div>
  <div class="client-header-right">
    <% if (locals.user) { %>
      <a href="/pros/list" class="client-header-profile">Find a Pro</a>
      <a href="/auth/client/profile" class="client-header-profile">Profile</a>
      <a href="/auth/client/logout" class="client-header-sign-up-off">Log out</a>
    <% } else { %>
      <a href="/auth/client/login" class="client-header-login">Log in</a>
      <a href="/auth/client/register" class="client-header-sign-up-off">Sign up</a>
    <% } %>
  </div>
</header> 