<header class="client-header">
  <div class="client-header-left">
    <p class="client-header-title" style="margin-left: 1em;">BuildApp</p>
  </div>
  <div class="client-header-right">
    <% if (locals.user) { %>
      <a href="/client/pro-list" class="client-header-profile">Find a Pro</a>
      <a href="/client/profile" class="client-header-profile">Profile</a>
      <a href="/client/projects/new" class="client-header-profile">Create Project</a>
      <a href="/" class="client-header-sign-up-off">Log out</a>
    <% } else { %>
      <a href="/auth/client/login" class="client-header-login">Log in</a>
      <a href="/auth/client/register" class="client-header-sign-up-off">Sign up</a>
    <% } %>
  </div>
</header> 