<header class="client-header">
  <div class="client-header-left">
    <p class="client-header-title">BuildApp</p>
  </div>
  <div class="client-header-right">
    <a href="/auth/login" class="client-header-login">Log in</a>
    <button class="client-header-signup">Sign up</button>
  </div>
</header> 