<header class="header">

  <div class="header-left">
    <p class="client-header-title" style="margin-left: 1em;">BuildApp</p>
  </div>
  <div class="header-right">
    <% if (user && user.isPro) { %>
      <!-- Professionals -->
      <a href="/client/projects/public" class="client-header-profile">Find cool projects</a>
      <a href="/pro/profile" class="client-header-profile">My Pro Profile</a>
      <a href="/auth/logout" class="client-header-sign-up-off">Log out</a>
    <% } else if (user && user.isPro === false) { %>
      <!-- Clients -->
      <a href="/client/pro-list" class="client-header-profile">Find a Pro</a>
      <a href="/client/projects/new" class="client-header-profile">Create Project</a>
      <a href="/client/projects/public" class="client-header-profile">All Projects</a>
      <a href="/client/profile" class="client-header-profile">Profile</a>
      <a href="/auth/logout" class="client-header-sign-up-off">Log out</a>
    <% } else { %>
      <!-- Unlogged -->
      <a href="/auth/pro/register" class="client-header-profile">Register as a Professional</a>
      <a href="/auth/client/register" class="client-header-profile">Register as a Client</a>
      <a href="/auth/login" class="client-header-sign-up-off">Log in</a>
    <% } %>
  </div>
</header> 