<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to BuildApp</title>
</head>
<body>
    <%- include('partials/header') %>

    <h1>Welcome to BuildApp</h1>
    <p>Let's build together!</p>

    <p></p>I'm a client</p>

    <%- include('partials/footer') %>
</body>
</html>